.nav-component {
  display: flex;
  justify-content: space-between;
}

.nav-component .logo-and-title {
 display: flex;
}

.nav-component .logo {
  display: block;
  height: 100%;
  padding: 10px 10px 10px;
}

.nav-component .app-title {
  display: block;
  line-height: 64px;
  margin: 0;
  color: #fafafa;
}

.nav-component .menu {
  line-height: 64px;
}
